In [ ]:
import pandas as pd

In [ ]:
path = '\\people'

In [ ]:
data2018 = pd.read_csv(path + '[2018.07] 제주도 버스 유동인구 데이터.csv', encoding='cp949')
data2020 = pd.read_csv(path + '[2020.4] 제주도 버스 유동인구 데이터.csv', encoding='cp949')

In [ ]:
data2018.head()

           일자                              버스 노선명  ...        방문인구     데이터기준일자
0  2018-07-01  101-1(제주국제공항(일주동로,516도로)~서귀포버스터미널)  ...  238498.657  2020-12-15
1  2018-07-01               415-1(한라수목원~국제여객선터미널)  ...  154885.934  2020-12-15
2  2018-07-01               415-1(한라수목원~국제여객선터미널)  ...  413533.999  2020-12-15
3  2018-07-01               415-1(한라수목원~국제여객선터미널)  ...  413533.999  2020-12-15
4  2018-07-01               415-1(한라수목원~국제여객선터미널)  ...  413533.999  2020-12-15

[5 rows x 11 columns]

In [ ]:
data2018.loc[:, ['일자', '읍면동명', '거주인구', '근무인구', '방문인구']]

                 일자  읍면동명         거주인구       근무인구        방문인구
0        2018-07-01   아라동   856661.464  48914.989  238498.657
1        2018-07-01  이도1동   164947.008  19239.512  154885.934
2        2018-07-01    연동  1078693.158  89117.158  413533.999
3        2018-07-01    연동  1078693.158  89117.158  413533.999
4        2018-07-01    연동  1078693.158  89117.158  413533.999
...             ...   ...          ...        ...         ...
1427584  2018-12-31   천지동    14981.697   2243.991   48350.739
1427585  2018-12-31   천지동    14981.697   2243.991   48350.739
1427586  2018-12-31   천지동    14981.697   2243.991   48350.739
1427587  2018-12-31   천지동    14981.697   2243.991   48350.739
1427588  2018-12-31   대륜동   287609.542  24669.053  221057.964

[1427589 rows x 5 columns]

In [ ]:
df = pd.DataFrame(data2018.groupby(['읍면동명'])['거주인구', '근무인구', '방문인구'].mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df.reset_index(inplace=True)

In [ ]:
a = ['거주인구', '근무인구', '방문인구']
for i in a:
  df[a] = df[a].astype(int)

In [ ]:
df.to_csv(path + '2018년 제주도 거주근무방문인구.csv', index=False)

In [ ]:
df2 = pd.DataFrame(data2020.groupby(['읍면동명'])['거주인구', '근무인구', '방문인구'].mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
df2.reset_index(inplace=True)

In [ ]:
a = ['거주인구', '근무인구', '방문인구']
for i in a:
  df2[a] = df2[a].astype(int)

In [ ]:
df2.to_csv(path + '2020년 제주도 거주근무방문인구.csv', index=False)